@import '../../assets/styles/variables';

.edit-button {
  border-color: $color-green;
  background-color: $color-green;
  color: $color-white;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: $color-white;
  margin-bottom: 2rem;
}

.edit {
  &-input {
    padding: 5px;
    margin: 5px;
  }

  &-button {
    min-width: 70px;
    margin: 5px;
  }
}
